# project	path	session	remote-control-name
shift-bud	~/ghq/github.com/playpark-llc/shift-bud	shift-bud	shift-bud
corporate-site	~/ghq/github.com/playpark-llc/corporate-site	corporate-site	corporate-site
playpark-brain	~/ghq/github.com/playpark-llc/playpark-brain	playpark-brain	playpark-brain
dotfiles	~/ghq/github.com/it-all-playpark/dotfiles	dotfiles	dotfiles
skills	~/ghq/github.com/it-all-playpark/skills	skills	skills
second-brain	~/ghq/github.com/it-all-playpark/second-brain	second-brain	second-brain
yeg	~/ghq/github.com/playpark-llc/yeg	yeg	yeg
