set -x ANTHROPIC_API_KEY '<ANTHROPIC_API_KEY>'
set -x OPENAI_API_KEY '<OPENAI_API_KEY>'
set -x GEMINI_API_KEY '<GEMINI_API_KEY>'
set -x DEEPL_AUTH_KEY '<DEEPL_AUTH_KEY>'
set -x SMITHERY_API_KEY '<SMITHERY_API_KEY>'
set -x SMITHERY_PROFILE '<SMITHERY_PROFILE>'
set -x MORPH_API_KEY '<MORPH_API_KEY>'
